<!-- userprofile Login Status -->
{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
  {% if error_message == 'Inactive' %}
    <h1 class="text-center">{{ UnUser.username }} user is inactivate.</h1>
    <p class="text-center">An activation email sent to your email.</p>
    <script type="text/javascript">setTimeout(function() {window.location.href = "/users/login/";}, 5000);</script>
  {% else %}
    <script type="text/javascript">setTimeout(function() {window.location.href = "/";});</script>
  {% endif %}
</div>
{% endblock%}
