<!-- userprofile Login Status -->
{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    {% if status == 'reject' %}
      <h1 class="text-center" id='thoth'>Invalid login details supplied.</h1>
      <p class="text-center">If you for get your password please click on the link below</p>
      <h2 class="text-center"><a href="{% url 'userprofile:PasswordReset' %}">Forget Password</a></h2>
    {% elif status == 'not exist' %}
      <h1 class="text-center" id='thoth'>User does not exist.</h1>
    {% elif status == 'not active' %}
      <h1 class="text-center" id='thoth'>Your account is not active.</h1>
      <p class="text-center">An activation email sent to your registred email. If you cannot activate your acccount please contact admin.</p>
    {% else %}
      <h1 class="text-center" id='thoth'>Something wrong.</h1>
    {% endif %}
  </div>
</div>
{% endblock%}
