<!-- userprofile Login Status -->
{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    {% if status == 'reject' %}
      <h1 class="text-center">Invalid login details supplied.</h1>
      <p class="text-center">If you for get your password please click on the link below</p>
      <h2 class="text-center"><a href="{% url 'userprofile:PasswordReset' %}">Forget Password</a></h2>
    {% elif status == 'not exist' %}
      <h1 class="text-center">User does not exist.</h1>
    {% else %}
      <h1 class="text-center">Something wrong.</h1>
    {% endif %}
  </div>
</div>
{% endblock%}
