<!-- userprofile profile -->
{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
  <div class="jumbotron">
    <h1 class='text-center'>User Profile</h1>
    <hr>
    <br>
    <h2>First Name: {{ user.first_name }}</h2>
    <h2>Last Name: {{ user.last_name }}</h2>
    <h2>Username: {{ user.username }}</h2>
    <h2>Email: {{ user.email }}</h2>
    {% if user.is_active and not user.is_email_verified %}
      <p>Your email is not verified. <a href="{% url 'userprofile:SendVerificationEmail' pk=user.pk %}">Verify</a></p>
    {% endif %}
    <h2>Joined at: {{ user.joined_at }}</h2>
    {% if not user.is_active %}
    <br>
    <p>Your account is not active.</p>
    {% endif %}
    <br>
    <a class="btn btn-outline-info btn-lg my-2 my-sm-0 float-right" href="{% url 'userprofile:UserProfileEdit' pk=user.pk %}">Edit Your Profile</a>
    <br>
  </div>
{% endblock %}
